p {
    text-align: center;
}

footer {
    color: grey;
    font-size: small;
}

.landing {
    height: 95vh;
    width: 95vw;
}

.logo {
    max-height: 33vh;
}

.container-centered {
    display: flex;
    
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin: auto;
}